#body2 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0)),
        url(assets/images/image_background_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 3% -3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#body_comentario {
    background-image: url(assets/images/image_background_3.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#body_comentario::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.568);
    z-index: -1;
}

#body2::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.568);
    z-index: -1;
}

#body1 {
    background-image: url(assets/images/image_background.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: 3% 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    caret-color: transparent;

}

#container-login {
    background-color: rgba(236, 236, 236, 0.884) !important;
    color: rgb(0, 0, 0) !important;
    box-shadow: 9px 9px 14px 9px rgba(0, 0, 0, 0.459) !important;

    input {
        padding: 10px !important;
        box-shadow: inset 2px 3px 9px 0px rgba(0, 0, 0, 0.274);
    }

    button {
        box-shadow: 0 5px 0 rgba(0, 0, 0, 0.274) !important;
        transition: all 0.1s ease;
        background-color: rgba(0, 0, 0, 0.904);
        color: rgb(255, 255, 255);
        border: none;
    }

    button:hover {
        transform: translateY(3px);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.274) !important;
        transition: all 0.1s ease;
        background-color: rgba(0, 0, 0, 0.616);
        color: rgb(255, 255, 255);
        border: none;
    }
}

.position-form {
    max-width: 400px;
    position: absolute;
    bottom: -150px;
    left: 50%;
}

#image-logo {
    max-width: 800px;
}

#logout_button_div {
    display: flex;
    justify-content: center;
    gap: 10px !important;
}

#logout_button {
    color: white;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 15px;
    padding: 7px 30px;
    margin: 6px 20px;
    max-width: 400px;
}

.sections {
    margin-top: 90px !important;
    margin: 0px 50px;
    background-color: rgba(240, 248, 255, 0.932) !important;
    padding: 10px;
    color: black !important;
    border-radius: 10px 10px 0px 0px;
    justify-content: center !important;
    min-width: 300px;
    max-width: 350px;
}

.row {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.div_noticia_titulo {
    justify-content: center !important;
    text-align: center;
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}

.div_noticia_subtitulo {
    justify-content: center !important;
    display: flex;
    margin-bottom: 4px;
}

#mensagem {
    margin: 0;
    padding: 0;
    visibility: hidden;
    height: 0;
}

#erro {
    margin: 0;
    padding: 0;
    visibility: visible;
}

.circulo {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 4px;

}

textarea {
    background-color: aliceblue;
    color: black;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    resize: none;
    align-items: center;
    width: 70%;
    max-height: 500px;
    padding: 8PX;
}

#div_comentarios {
    overflow-y: scroll;
    max-height: 400px;
}

@media (max-width: 768px) {

    #body_comentario{
        height: 100vh;
        overflow-y: hidden;
    }

    #div_comentarios {
    min-height: calc(100vh - 250px);
    overflow-y: auto;
}

#comentarios {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 2px;
    justify-content: center;
    width: 1000px;
}

}
@media (max-width: 1024px) {

    #body_comentario{
        height: 1600px;
        overflow-y: hidden;
    }

    #div_comentarios {
    min-height: calc(100vh - 250px);
    overflow-y: auto;
}

#comentarios {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 2px;
    justify-content: center;
    width: 1000px;
}

}

#comentarios {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 2px;
    justify-content: center;
    width: 1000px;
}

.comentario_alheio {
    margin: 10px 10px;
}

.comentario_meu {
    justify-content: flex-end !important;
}

#div_form_comentario {
    position: sticky;
}

#mandar_comentario {
    margin: 10px 10px;
}

#personalizado {
    width: 100%;
}

#botao_comentario {
    display: flex;
    justify-content: flex-end;

    button {
        font-size: 14px;
        margin-right: 10px;
        width: 100px;
        height: 30px;
        transition: all 0.1s ease;
        background-color: rgba(247, 247, 247, 0.904);
        color: rgb(15, 15, 15);
        border: none;
    }

    button:hover {
        transition: all 0.1s ease;
        background-color: rgb(250, 250, 250);
        color: rgb(22, 22, 22);
        border: none;
    }
}

.primeiro_com {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0;
    height: 0;
}

.comentario {
    align-items: center;
    height: fit-content;
    overflow: hidden;
}