
body{
    background-color: rgba(28, 39, 78, 0.397);
}

.image{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
}

.position-form{
    max-width: 400px;
    position: absolute;
    bottom: -150px;
    left: 50%;
}

#image-logo{
    max-width: 800px;
}