
body{
    background-color: rgba(34, 50, 109, 0.397);
}

.image{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    caret-color: transparent;
}

.position-form{
    max-width: 400px;
    position: absolute;
    bottom: -150px;
    left: 50%;
}

#image-logo{
    max-width: 800px;
}